In [48]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv('../../data_set/2.데이터 클린징/bicycle.csv')
df.head()

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,나이
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0,50
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0,31
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN,32
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0,21
4,SPB-07935,2019-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39,3,중랑센터,7.0,10.0,1650.0,120

In [50]:
df.isnull().sum()

자전거번호       0
대여일시        0
대여소번호       0
대여소명        0
대여거치대      23
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대      11
이용시간       11
이용거리       11
나이          0
dtype: int64

In [51]:
mean_values = df.groupby('대여소번호')[['대여거치대', '반납거치대', '이용시간', '이용거리']].mean()
mean_values.head(3)

           대여거치대     반납거치대       이용시간         이용거리
대여소번호
3       7.000000  7.000000  25.000000     0.000000
101     2.684211  2.463415  33.871795  2049.024390
102    11.529412  2.666667  11.722222  1376.470588

In [52]:
mean_values.loc[3]['대여거치대']

7.0

In [53]:
include_null_df = df[['대여소번호','대여거치대', '반납거치대', '이용시간', '이용거리']]
include_null_df.head(2)

   대여소번호  대여거치대  반납거치대  이용시간    이용거리
0    646    3.0    7.0  12.0  1100.0
1    646    2.0    2.0   7.0  1420.0

In [54]:
include_null_df.isnull().sum()

대여소번호     0
대여거치대    23
반납거치대    11
이용시간     11
이용거리     11
dtype: int64

In [60]:
null_features = ['대여거치대', '반납거치대', '이용시간', '이용거리']

for feature in null_features:
    
    include_null_df.loc[include_null_df[feature].isnull(), [feature]] = \
        mean_values.loc[include_null_df[include_null_df[feature].isnull()]['대여소번호']][feature].values

In [61]:
include_null_df.isnull().sum()

대여소번호    0
대여거치대    0
반납거치대    0
이용시간     0
이용거리     0
dtype: int64

In [62]:
df.loc[:, ['대여거치대', '반납거치대', '이용시간', '이용거리']] = include_null_df[['대여거치대', '반납거치대', '이용시간', '이용거리']]
df.isnull().sum()

자전거번호      0
대여일시       0
대여소번호      0
대여소명       0
대여거치대      0
반납일시       0
반납대여소번호    0
반납대여소명     0
반납거치대      0
이용시간       0
이용거리       0
나이         0
dtype: int64

In [63]:
df.loc[3]

자전거번호              SPB-22292
대여일시         2019-11-05 8:34
대여소번호                    646
대여소명       장한평역 1번출구 (국민은행앞)
대여거치대                    1.0
반납일시         2019-11-05 8:45
반납대여소번호                    3
반납대여소명                  중랑센터
반납거치대                    4.0
이용시간                    10.0
이용거리                  1380.0
나이                        21
Name: 3, dtype: object

중복 데이터 해결

In [64]:
df.shape

(423, 12)

In [66]:
df.duplicated().sum()

3

In [67]:
df.drop_duplicates(inplace=True)

In [68]:
df.shape

(420, 12)