In [1]:
import pandas as pd
import numpy as np

C:\Users\user\AppData\Local\Temp\ipykernel_21432\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [77]:
df = pd.read_csv('../../data_set/2.데이터 클린징/loan-train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [78]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [79]:
print(df['Gender'].unique())
df.fillna({'Gender':'Female'}, inplace=True)
print(df['Gender'].unique())

['Male' 'Female' nan]
['Male' 'Female']

In [80]:
print(df['Married'].unique())
df.fillna({'Married':'No'}, inplace=True)
print(df['Married'].unique())

['No' 'Yes' nan]
['No' 'Yes']

In [81]:
print(df['Dependents'].unique())
dep_mode = df['Dependents'].mode()[0]
df['Dependents'] = df['Dependents'].apply(lambda x: dep_mode if pd.isna(x) else x)
df['Dependents'] = df['Dependents'].apply(lambda x: 3 if x == '3+' else x)
print(df['Dependents'].unique())

['0' '1' '2' '3+' nan]
['0' '1' '2' 3]

In [82]:
print(df['Self_Employed'].unique())
df['Self_Employed'].ffill(inplace=True)
print(df['Self_Employed'].unique())

['No' 'Yes' nan]
['No' 'Yes']

C:\Users\user\AppData\Local\Temp\ipykernel_21432\1716684673.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].ffill(inplace=True)

In [83]:
print(df['LoanAmount'].unique())
df['LoanAmount'].bfill(inplace=True)
print(df['LoanAmount'].unique())

[ nan 128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.
  17. 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.
  35. 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44.
 286.  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113.
 176. 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225.
 216.  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650.
 102. 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.
  87. 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166.
 124.  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123.
 279. 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.
  56. 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380.
 296. 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190.
 149. 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.
  40. 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.
  36.  61. 146. 292. 142. 350. 496. 253.]
[128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.  17.
 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.  35.
 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44. 286.
  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113. 176.
 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225. 216.
  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650. 102.
 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.  87.
 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166. 124.
  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123. 279.
 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.  56.
 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380. 296.
 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190. 149.
 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.  40.
 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.  36.
  61. 146. 292. 142. 350. 496. 253.]

C:\Users\user\AppData\Local\Temp\ipykernel_21432\425071756.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].bfill(inplace=True)

In [84]:
print(df['Loan_Amount_Term'].unique())
# df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(), inplace=True)
df.fillna({'Loan_Amount_Term': df['Loan_Amount_Term'].mean()}, inplace=True)
print(df['Loan_Amount_Term'].unique())

[360. 120. 240.  nan 180.  60. 300. 480.  36.  84.  12.]
[360. 120. 240. 342. 180.  60. 300. 480.  36.  84.  12.]

In [85]:
print(df['Credit_History'].unique())
df.fillna({'Credit_History':0}, inplace=True)
print(df['Credit_History'].unique())

[ 1.  0. nan]
[1. 0.]

In [86]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [87]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [88]:
df.head(1)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y

In [89]:
df['Dependents'].unique()

array(['0', '1', '2', 3], dtype=object)

In [ ]:
item = {'Male':0, 'Female':1}