In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_11008\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('../data_set/2.데이터 클린징/test1.csv')
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
5  a   1   1

In [4]:
df.duplicated() # 중복된 데이터를 확인

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [5]:
df.duplicated().sum() #중복된 데이터의 총개수

2

In [6]:
df.drop_duplicates(inplace=True) # 중복된 데이터를 제거
df

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [7]:
df.duplicated().sum() #중복된 데이터의 총개수

0

In [8]:
df.reset_index(drop=True) #새롭게 인덱스를 재정의해서 만들어준다
df

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2